@media (min-width:1920px) {
    .depth2 li a{
        margin-left: 110px;
    }

    .menu_memo{
        bottom: 40px;
        left: 140px;
    }
}

@media (max-width:1257px) {
    .topnav_t, .topnav_b{
        height: 40px;
    }

    .topnav_t, .topnav_b,
    .gbnav a, .depth2 li a, .menu_memo,
    #service ul li a,
    footer ul li, .at_shopping{
        font-size: 1rem;
    }

    .depth2 li a{
        margin-left: 40px;
    }

    .menu_memo{
        left: 60px;
    }

    section .female a, section .male a,
    .at_name{
        font-size: 1.2rem;
    }

    .gbnav a{
        margin-right: 30px;
    }

    #service{
        height: 340px;
    }

    footer{
        height: 400px;
    }

    #footer_logo{
        margin-right: 165px;
    }

    footer ul{
        margin-right: 110px;
    }
}

@media (max-width:1024px){
    header{
        height: auto;
    }

    .topnav_t{
        display: none;
    }

    .logo, .gbnav{
        width: 25%;
    }

    .nav{
        width: 50%;
    }

    .logo a img{
        width: 80px;
    }

    .nav>ul>li>a{
        font-size: 1em;
    }

    .gbnav a{
        font-size: 0.8rem;
        margin-right: 10px;
    }

    #article_m{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0 20px 40px 20px;
    }

    #service{
        height: 280px;
        justify-content: center;
        gap: 160px;
    }

    footer{
        height: 280px;
        justify-content: center;
        gap: 80px;
    }

    #service ul:first-child{
        margin-left: unset;
    }
    #service ul li a{
        font-size: 0.8rem;
    }

    footer ul li{
        font-size: 0.6rem;
    }

    #footer_logo, footer ul{
        margin-left: unset;
        margin-right: unset;
    }
}